:root { 
    --primary: #7f8c8d; 
    --accent: #3498db; 
    --text: #333; 
}

body { 
    font-family: 'Verdana', sans-serif; /* Cambio para la v1.1 */ 
    margin: 0; 
    color: var(--text); 
}

.navbar { 
    background: var(--primary); 
    color: white; 
    padding: 1rem; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.hero { 
    text-align: center; 
    padding: 4rem 1rem; 
    background: #ecf0f1; 
}

.container { 
    max-width: 800px; 
    margin: auto; 
    padding: 3rem; 
}

.project-card {
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    background: white;
}